:root {
    --azul:rgb(37,49,140);
    --amarillo:rgb(248,188,2);
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

h1,h2,h3,p{
    padding: 0;
    margin: 0;
}

/* Código neto para diseño */

/* Código para el header */
.header{
    display: flex;
    justify-content: center;
    background-color: var(--amarillo);
    padding:1.5rem 3rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.letra-azul{
    font-weight: bold;
    font-size: 2.8rem;
    color: var(--azul);
}

/* Código para el main */

.main{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.contenedor{
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.contenedor button{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid;
}

.contenedor-seccion{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}

.contenedor-seccion img{
    width: 250px;
    height: 250px;
}

.botones{
    display: flex;
    gap: 1.5rem;
}