:root {
    --azul:rgb(37,49,140);
    --amarillo:rgb(248,188,2);
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

h1,h2,h3,p{
    padding: 0;
    margin: 0;
}

/* Código neto para diseño */

/* Código de la barra */
.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.navegacion{
    display: flex;
    column-gap: 2rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--amarillo);
    padding:1.5rem 3rem;
}

.letra-azul{
    font-weight: bold;
    color: var(--azul);
}

/* Ayuda */

.contenedor-main{
    display: flex;
    justify-content: center;
    margin-top: 18rem;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.centro-ayuda,
.revisar-gestionar{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.contenedor-listado{
    line-height: 2.5rem;
}

/* Footer */

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    padding:1.5rem 3rem;
    row-gap: 1.5rem;
}

.redes-ayuda{
    display: flex;
    justify-content: space-between;
    align-items: center;
}